@charset "utf-8";
* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
  text-align: center;
}

div div div{
  background-color: rgb(173, 173, 160);
  border: 1px solid black;
  width: 90%;
}

h2 {
  width: 300px;
  text-align: center;
  border: 1px solid black;
  padding: 10px 0px 10px 0px;
  margin: 0px 0px 0px 0px;
}

p {
  direction: ltr;
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: white;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media screen and (min-width: 992px) {
  /*.col-lg-4 {
    float: left;
  }*/
  .col-lg-4 {
    width: 30%;
  }
}

/********** Medium devices only **********/
@media screen and (min-width: 768px) and (max-width: 991px) {
  /*.col-md-6, .col-md-12 {
    float: left;
  }*/
  .col-md-6 {
    width: 45%;
  }
  .col-md-12 {
    width: 90%;
  }
}
/********** Small devices only **********/
@media screen and (max-width: 767px) {
  /*.col-sm-12 {
    float: left;
  }*/
  .col-sm-12 {
    width: 90%;
  }
}
